/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    margin-block: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-size: 1.3rem;
    font-style: normal;
    letter-spacing: 0.2rem;
}

h1 {
    color: gray;
}

nav {
    padding: 20px;
    text-align: center;
    background-color: #8C8684;
    color: #0D0D0D;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

p {
    color: gray;
}

ul {
    text-align: center;
}

li {
    list-style-type: none;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #8C8684;
    color: #0D0D0D;
}

#game-display {
    height: 100px;
    text-align: center;
    background-color: rgb(13, 13, 13, .7);
    border: 1px solid red;
}

#text-box {
    position: relative;
    left: 37%;
    bottom: 5%;
    text-align: center;
    width: 150px;
    border: 1px solid red;
}

#text-display {
    position: absolute;
    color: #F2F2F2;
    padding-top: 0.3rem;
    letter-spacing: 0.4rem;
    text-align: left;
}

#text-overlay {
    position: absolute;
    z-index: 50;
    color: #f0bc11;
    padding-top: 0.3rem;
    letter-spacing: 0.4rem;
    border: 1px solid red;
}

#kana-display {
    width: 100%;
    color: #F2F2F2;
    padding-top: 0.8rem;
}

/* Media query: General smart phone (390px and up) */
@media screen and (min-width:390px) {
    #text-box {
        left: 40%;
    }
}

/* Media query: General smart phone (768px and up) */
@media screen and (min-width:768px) {
    #text-box {
        left: 45%;
    }
}

/* Media query: General smart phone (1024px and up) */
@media screen and (min-width:1024px) {
    #text-box {
        left: 48%;
    }
}
