/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    margin-block: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    color: gray;
}

nav {
    padding: 20px;
    text-align: center;
    background-color: #8C8684;
    color: #0D0D0D;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

p {
    color: gray;
}

ul {
    text-align: center;
}

li {
    list-style-type: none;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #8C8684;
    color: #0D0D0D;
}

#game-display {
    display: relative;
    width: 100%;
    height: 500px;
    text-align: center;
}

#text-display {
    width: 100%;
    background-color: rgb(13, 13, 13, .7);
    color: #F2F2F2;
    padding-top: 0.3rem;
}

#kana-display {
    width: 100%;
    background-color: rgb(13, 13, 13, .7);
    color: #F2F2F2;
    padding-bottom: 0.3rem;
}

#detect-box {
    /* display: none; */
    display: block;
    border: 1px solid rgb(250, 13, 13);
    width: 5rem;
    height: 5rem;
}